
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

div{
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    transition: background-color 300ms;

}
div:hover{
    background-color: (0, 0, 0, 0.5);
}

.container {
    width: 100%;
    height: 100px;
    border: 2px solid black ; 
    display: flex;
    justify-content: space-between;
    
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    
}
.red{
    color: red;
}
p{
    color: black;
}
#title{
    font-weight: bold;
    color: black;
}

@media (max-width: 992px){
    div {
        font-size: 20px;
    }
}

@media (max-width: 768px){
    div {
        font-size: 18px;
    }
}
@media (max-width: 576px){
    div {
        font-size: 16px;
    }
}

